%h2 Create a Profile

= render "errors", locals: {model: @profile}

= form_for @profile do |f|

  %fieldset
    = f.label :display_name
    = f.text_field :display_name
  %fieldset
    = f.label :goal_id
    = f.select :goal_id, Goal.all.map { |goal| [goal.name, goal.id] }
  %fieldset
    = f.label :days, "How many days a week will you train?"
    = f.select :days, [3, 4, 5]
  %fieldset
    = f.label :experience, "Level of experience"
    = f.select :experience, ["Beginner", "Intermediate", "Expert"]   

  %fieldset
    = f.submit "Submit"