%h2 Create a Profile

= render "errors", locals: {model: @profile}

= form_for @profile do |f|
  %fieldset
    = f.label :display_name
    = f.text_field :display_name

  %fieldset
    = f.label :goal_id
    = f.select :goal_id, Goal.all.map { |goal| [goal.name, goal.id] }    

  %fieldset
    = f.submit "Submit"