.grid
  .col.col-1-of-2.both-gutter
    %dl
      %dd 
        Name:
      %dt 
        = @profile.display_name
      %dd
        Goal:
      %dt
        - if @profile.goal
          = @profile.goal.name
        - else
          You haven't chosen a Goal yet. Set one here:
          = link_to "Set a Goal!"
      %dd
        Days per week:
      %dt
        - if @profile.days
          = @profile.days
        - else
          You haven't set your days yet. Change that here:
          = link_to "Edit your profile"
      %dd
        Experience:
      %dt
        - if @profile.experience
          = @profile.experience
        - else
          You haven't set your experience yet. Change that here:
          = link_to "Edit your profile"
      %dd
        Weight:
      %dt
        - if @profile.weight
          = @profile.weight
        - else
          You haven't set your weight yet. Change that here:
          = link_to "Edit your profile"

