.wrapper
  .grid
    .col.col-1-of-3.trainer-profile.both-gutter  
      %dl
        %dt>
          Name:
        %dd>
          = @trainer_profile.name
        %dt>
          Gym Name:
        %dd>
          = @trainer_profile.gym_name  
        %dt>
          Years Experience:
        %dd>
          = @trainer_profile.years_experience
        %dt>
          Qualification:
        %dd>
          = @trainer_profile.qualification
        %dt>
          Rate:
        %dd>
          = @trainer_profile.rate
        %dt>
          Bio:
        %dd>
          = @trainer_profile.bio
    .col.col-1-of-3.workout-list.both-gutter
      = react_component("Workoutlist", { workouts: @workouts })
    - if current_customer.trainer
      .col.col-1-of-3.create-workout.both-gutter
        %h4
          Create Workouts by creating days of exercises and combining them to create a workout.
        =link_to "Make some Days", new_day_path
        =link_to "Make a Workout", new_workout_path