.grid
  .col.col-1-of-3.trainer-profile  
    %dl
      %dt>
        Name:
      %dd>
        = @trainer_profile.name
      %dt>
        Gym Name:
      %dd>
        = @trainer_profile.gym_name  
      %dt>
        Years Experience:
      %dd>
        = @trainer_profile.years_experience
      %dt>
        Qualification:
      %dd>
        = @trainer_profile.qualification
      %dt>
        Rate:
      %dd>
        = @trainer_profile.rate
      %dt>
        Bio:
      %dd>
        = @trainer_profile.bio
  .col.col-1-of-3.workout_list
    =render @workouts
