!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FitnessApp
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_pack_tag 'application'
    %link{ :href =>"https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz", :rel => "stylesheet" }
  %body
    %header
      .grid
        %h1.col.col-1-of-2 Fitness Faster
        %nav.col.col-1-of-2
          %ol
            %li
              = link_to "Your Profile", profile_path(1)
            %li
              = link_to "Exercises", exercises_path
      %p.notice
        = notice
      %p.alert
        = alert

    = yield
